* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: #fdffc2;
  text-align: center;
  min-width: 100vw;
}

h1 {
  height: 7rem;
  line-height: 7rem;
  color: #fff6e9;
  background-color: #0d9276;
}

img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.choices {
  margin-top: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 5px 0 5px;
  margin-top: 5rem;
}

.choice {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice:hover {
  background-color: #0d9276;
  cursor: pointer;
}

.score-board {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 3rem;
}

.msg {
  width: 50%;
  background-color: #3c486b;
  font-size: 3vw;
  color: #fff6e9;
  display: inline-block;
  border-radius: 5vw;
  padding: 1rem;
}
